<!-- Base template of whole webapp -->
<!DOCTYPE html>
<html>
  <head>
    <!-- metadata !-->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{% block title %}Home{% endblock %}</title>
    <!-- importing bootstrap css framework -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <style>
      h1{
          color: rgb(5, 42, 53);
      }

      input[type=checkbox] {
          vertical-align: middle;
          position: relative;
          bottom: 1px;
      }
        
      label {
          display: block;
      }
  </style>
  </head>
  <!--body of template -->
  <body>
    <!--navigation bar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbar"
      >
      <span class="navbar-toggler-icon"></span>
      </button>
      <!--collapsable navbar-->
    <div class="collapse navbar-collapse" id="navbar">
      <div class="navbar-nav">
        <!--if user is logged in show home and logout buttons-->
        {% if user.is_authenticated %}
        <a class="nav-item nav-link" id="logout" href="/logout">Logout</a>
        <a class="nav-item nav-link" id="home" href="/">Home</a>
        <!--if user is not logged in show only sign in and register buttons-->
        {% else %}
        <a class="nav-item nav-link" id="sign-in" href="/sign-in">Sign In</a>
        <a class="nav-item nav-link" id="register" href="/register">Register</a>
        {% endif %}
      </div>
    </div>
    </nav>
    
    <!--for displaying flashed messages-->
    {% with messages = get_flashed_messages(with_categories=true)%}
    {% if messages %}
       {%for category, message in messages%}
       {%if category ==  'error'%}
       <!--display error message box-->
       <div class="alert alert-danger alter-dismissable fade show" roles ="alert">
         {{ message }}
         <button type="button" class="close" data-dismiss="alert">
           <span aria-hidden="true">&times;</span>
         </button>
       </div>
      {%else%}
      <!--otherwise display success message box-->
       <div class="alert alert-success alter-dismissable fade show" roles ="alert">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>  
      {% endif %}
      {% endfor %}
    {% endif %}
    {% endwith %}

    <!--first section underneath nav bar (can be overided in other html templates)-->
    <div class="container">
    {% block subject %}
    {% endblock %}
    </div>

    <!--imported javascript scripts for animations to be used by the bootstrap framework -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>

    <script
      type="text/javascript"
      src="{{ url_for('static', filename='index.js') }}"
    ></script>
  </body>
</html>
