<!--The extension of base.html template for the E3question8-->
{% extends "base.html" %} {% block title %}Home{% endblock %}

<!--The image for the reading comprehnsion exercise-->
{% block subject %}
<h1 class="text-center">E3</h1>
<h2 class="text-center">Question 7</h2>
<div class="text-center">
    <img src="{{url_for('static', filename='postcard.png')}}"
    width="550"
    height="400"/>
</div>

<!--The question-->
<div class="text-center">
    <h3>Sal thinks Di would like this holiday</h3>
</div>

<!--The answer checkboxes with the answers as labels-->
<form class="text-center" method = "POST" action="/home/E3/question7">
    <label>True<input type="checkbox" value="True" name="checkbox"></label>
    <label>False<input type="checkbox" value="False" name="checkbox"></label>
    <input type="submit">
</form>

{% endblock %}