<!--The extension of base.html template for the L1question3-->
{% extends "base.html" %} {% block title %}Home{% endblock %}

<!--The image for the reading comprehnsion exercise-->
{% block subject %}
<h1 class="text-center">L1</h1>
<h2 class="text-center">Question 3</h2>
<div class="text-center">
    <img src="{{url_for('static', filename='letter.png')}}"/>
</div>

<!--The question-->
<div class="text-center">
    <h3>Which event does Alison Parker want to attend?</h3>
</div>

<!--The answer checkboxes with the answers as labels-->
<form class="text-center" method = "POST" action="/home/L1/question3">
    <label>a) Graduation <input type="checkbox" value="a" name="checkbox"></label>
    <label>b) Disco <input type="checkbox" value="b" name="checkbox"></label>
    <label>c) Concert <input type="checkbox" value="c" name="checkbox"></label>
    <label>d) Bake sale <input type="checkbox" value="d" name="checkbox"></label>
    <input type="submit">
</form>


{% endblock %}